<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="referrer" content="no-referrer" />

    <meta
      http-equiv="Content-Security-Policy"
      content="
        default-src 'none';
        script-src 'unsafe-inline' 'wasm-unsafe-eval' https://cdn.jsdelivr.net;
        connect-src https://cdn.jsdelivr.net;
        worker-src blob:;
        img-src 'none';
        font-src 'none';
        base-uri 'none';
        form-action 'none';
        object-src 'none';
      "
    />

    <title>Python Runner</title>
  </head>

  <body>
    <script type="text/plain" data-python-worker-source>
      __PYTHON_WORKER_SCRIPT__
    </script>

    <script>
      __PYTHON_RUNNER_SCRIPT__;
    </script>
  </body>
</html>
