<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'none'; script-src 'unsafe-inline' 'wasm-unsafe-eval' https://cdn.jsdelivr.net; connect-src https://cdn.jsdelivr.net; style-src 'unsafe-inline'; img-src 'none'; font-src 'none'; worker-src blob:; child-src blob:; base-uri 'none'; form-action 'none'"
    />
    <title>Python Runner</title>
  </head>

  <body>
    <script type="text/plain" data-python-worker-source>
      __PYTHON_WORKER_SCRIPT__
    </script>

    <script>
      __PYTHON_RUNNER_SCRIPT__;
    </script>
  </body>
</html>
