<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'none'; script-src 'unsafe-inline' 'wasm-unsafe-eval' https://cdn.jsdelivr.net; connect-src https://cdn.jsdelivr.net; style-src 'unsafe-inline'; img-src 'none'; font-src 'none'; worker-src 'none'; child-src 'none'; base-uri 'none'; form-action 'none'"
    />
    <title>Python Runner</title>
    <script src="https://cdn.jsdelivr.net/pyodide/v0.26.4/full/pyodide.js"></script>
  </head>

  <body>
    <script>
      __PYTHON_RUNNER_SCRIPT__;
    </script>
  </body>
</html>
